<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:blick th:fragment="lib">
<link rel="stylesheet" th:href="@{/css/employee/detail.css}">
</th:blick>

<div th:fragment="main">
    <h2 th:text="|id:${employee.id}の従業員情報 詳細ページ|"></h2>
    <table>
        <tr>
            <th>社員番号</th>
            <td th:text="${employee.authentication.code}"></td>
        </tr>
        <tr>
            <th>氏名</th>
            <td th:text="${employee.name}"></td>
        </tr>
        <tr>
            <th>権限</th>
            <td th:text="${employee.authentication.role}"></td>
        </tr>
        <tr>
            <th>登録日時</th>
            <td th:text="${employee.createdAt}"></td>
        </tr>
        <tr>
            <th>更新日時</th>
            <td th:text="${employee.updatedAt}"></td>
        </tr>
    </table>
    <p><a th:href="@{/employee/update/{id}/(id=${employee.id})}">この従業員情報を編集する</a></p>
    <p><a th:href="@{/employee/list}">一覧に戻る</a><p>
</div>
</html>